body, html {
    margin: 0;
    padding: 0;
    width: 300px; /* Increased width */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    padding: 20px;
}

h1 {
    color: #d49800;
    font-size: 20px;
    margin-bottom: 10px;
}

p {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 10px;
}

button {
    background-color: #b8d400;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #8ff757;
}

.footer {
    margin-top: 20px;
    font-size: 12px;
    text-align: center;
    color: #666;
}
