/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header Styles */
header {
    background-color: #030511;
    color: #fff;
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    margin-right: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: #ffc107;
}

/* Hero Section Styles */
.hero {
    background-color: #0a1c2f;
    color: #fff;
    padding: 100px 0;
    text-align: center;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 40px;
}

.hero .btn {
    display: inline-block;
    background-color: #ffc107;
    color: #0a0f35;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.hero .btn:hover {
    background-color: #f3c362;
    color: #0a0e2b;
    transform: translateY(-7px);

}



/* How to Use Section Styles */
.how-to-use {
    background-color: #fff;
    padding: 80px 0;
    text-align: center;
}

.how-to-use h2 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 40px;
    color: #0a0e2d;
}

.instruction {
    margin-bottom: 40px;
    text-align: left;
}

.instruction h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #0c1342;
}

.instruction p {
    font-size: 16px;
    line-height: 1.6;
    color: #555;
}


/* Features Section Styles */
.features {
    padding: 80px 0;
    text-align: center;
}

.features h2 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 40px;
    color: #0a0e2d;
}

.feature {
    display: inline-block;
    width: calc(33.33% - 60px);
    margin: 0 20px;
    text-align: left;
    margin-bottom: 40px;
    vertical-align: top;
    background-color: #e5f1fd;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.feature:hover {
    transform: translateY(-10px);
    background-color: #b0c3d9;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.feature h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #0c1342;
}

.feature p {
    font-size: 16px;
    line-height: 1.6;
    color: #555;
}

/* Additional styles for more interactivity */
.feature:hover h3 {
    color: #325b82; /* Change color on hover */
}

.feature:hover p {
    color: #333; /* Change color on hover */
}



/* Contact Section Styles */
.contact {
    padding: 80px 0;
}

.contact h2 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 40px;
    color: #0b0e2c;
}

.contact form {
    max-width: 600px;
    margin: 0 auto;
}

.contact input,
.contact textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.contact button {
    display: block;
    background-color: #11184d;
    color: #fff;
    padding: 15px 30px;
    text-decoration: none;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 18px;
    margin: 0 auto;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.contact button:hover {
    background-color: #090b24;
}

/* Footer Styles */
footer {
    background-color: #06081c;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
